@model IEnumerable<DanasCloset.Models.Top>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center; padding-bottom:25px;">Tops</h2>
<div class="col-sm-6 col-md-3">
    <div class="thumbnail indexThumbnail" style="padding-top:25px">
        <img src="~/Content/Images/Jordans shoes.jpg" />
        <div class="caption" style="padding-top:45px">
            <h3>New Top</h3>
            <p>
                @Html.ActionLink("Add Top", "Create")
            </p>
        </div>
    </div>
</div>


@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail indexThumbnail">
            <img src="@Html.DisplayFor(modelItem => item.Name)" />
            <div class="caption">
                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TopsID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TopsID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TopsID })
                </p>
            </div>
        </div>
    </div>
}




@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occasion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TopsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TopsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TopsID })
        </td>
    </tr>
}

</table>*@
